{% macro model_table(model_name, model_camel, models, list_of_attrs, list_of_sensors) %}

{% from 'library/utils.html' import want_delete %}

<div id="datatable" class="container my-3">
    <div class="table-responsive">
        <table id="{{model_name}}-table" class="table table-text" data-page-length="15">
             <thead class="primary-color small-thead">
                <tr class="text-white">
                    {% for attr in list_of_attrs %}
                    <th>{{attr}}</th>
                    {% endfor %}

                    {% for sensor in list_of_sensors %}
                    <th>#{{sensor}}</th>
                    {% endfor %}

                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for model in models %}
                    <tr>
                        {% for att in list_of_attrs %}
                            <td>{{model|attr(att)}}</td>
                        {% endfor %}

                        {% for sensor in list_of_sensors %}
                            {% if model[sensor] %}
                                <th>{{model[sensor].number_of_metrics()}}</th>
                            {% else %}
                                <th></th>
                            {% endif %}
                        {% endfor %}

                        <td>
                            <a class="btn-floating btn-sm blue" href="{{url_for(model_camel + '_template.dashboard', id=model.id)}}"><i class="fa fa-chart-line" data-toggle="tooltip" data-placement="top" title="Dashboard"></i></a>
                            <a class="btn-floating btn-sm red" data-toggle="modal" href="#" data-target="{{'#deleteModal' + model.id|string}}"><i class="fa fa-trash" data-toggle="tooltip" data-placement="top" title="Delete {{model_name}}"></i></a>
                        </td>

                        {{want_delete(model.id|string, url_for(model_camel + '_template.delete', id=model.id))}}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% from 'library/imports.html' import import_datatable %}
{{import_datatable()}}

<script>
    $(document).ready(function() {
        $('#{{model_name}}-table' ).DataTable({
            "info": false,
            "language": {
                "lengthMenu": "",
                "search": "",
                "zeroRecords": "No {{model_name}} registered",
                "emptyTable": "No {{model_name}} registered",
                "paginate": {
                    "first": "First",
                    "previous": "Previous",
                    "next": "Next",
                    "last": "Last"
                }
            }
        });

        initialize_table('datatable', "{{model_name}}-table", false);
    });
</script>

{% endmacro %}