{% macro point_on_map(object, socket_namespace, title, sensor_name, metric_name) %}

<div class="mx-3 my-3">
    <div class="text-center justify-content-center">

    	<h5>{{title}}</h5>
        <p class="mb-0">{{metric_name}}</p>

        <div class="row mx-1 mt-2 justify-content-center">

	        {% if (object|attr(sensor_name)).get_last_metric_data(metric_name + '_raw_point') %}
	            {% set x = (((object|attr(sensor_name)).get_last_metric_data(metric_name + '_raw_point'))|attr(metric_name)).x %}
	            {% set y = (((object|attr(sensor_name)).get_last_metric_data(metric_name + '_raw_point'))|attr(metric_name)).y %}
	            <div id="map{{object.id}}"></div>
			{% elif (object|attr(sensor_name)).get_last_metric_data(metric_name + '_raw_point_x') %}
	            {% set x = (((object|attr(sensor_name)).get_last_metric_data(metric_name + '_raw_point_x'))|attr(metric_name)).x %}
	            {% set y = (((object|attr(sensor_name)).get_last_metric_data(metric_name + '_raw_point_y'))|attr(metric_name)).y %}
	            <div id="map{{object.id}}"></div>
	        {% else %}
	            NO POSITION YET
	        {% endif %}
	    </div>
    </div>

</div>

<script>
	try {

		var map{{object.id}} = L.map('map{{object.id}}');
		  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
				maxZoom: 22,
				id: 'mapbox.streets',
				accessToken: 'pk.eyJ1IjoidGhpbmVwbyIsImEiOiJjajY0d2tkc24xd2Q2MzJuMGxydzdpdHJ1In0.qMGb5O0sLOP5-KaYMlP19A'
			}).addTo(map{{object.id}});


		  $(document).ready(function(){

			$('#map{{object.id}}').width('100%');
			$('#map{{object.id}}').height($('#map{{object.id}}').width() * 0.7);

		  });

		  L.Util.requestAnimFrame(map{{object.id}}.invalidateSize,map{{object.id}},!1,map{{object.id}}._container);
		  map{{object.id}}.setView([{{x}}, {{y}}], 16);

		  var marker_{{object.id}}_{{sensor_name}}_{{metric_name}} = L.marker([{{x}}, {{y}}]).addTo(map{{object.id}});

		  function update_location(marker, lat, lng){

			 marker.setLatLng([lat, lng]).update();
		  }

			var socket_{{object.id}}_{{sensor_name}}_{{metric_name}};

			SOCKET_NAMESPACE = '/{{socket_namespace}}'

			socket_{{object.id}}_{{sensor_name}}_{{metric_name}} = io.connect(location.protocol + '//' + document.domain + ':' + location.port + SOCKET_NAMESPACE);
			socket_{{object.id}}_{{sensor_name}}_{{metric_name}}.on('connected', function(data) {
				console.log(data);
			});

			socket_{{object.id}}_{{sensor_name}}_{{metric_name}}.on('{{socket_namespace}}', function(data) {
				if(typeof data.data != 'undefined' && data.data.key == "{{object.key}}"){
					var lat = parseFloat(data.data.{{sensor_name}}.{{metric_name}}.split(',')[0]);
					var lng = parseFloat(data.data.{{sensor_name}}.{{metric_name}}.split(',')[1]);
					update_location(marker_{{object.id}}_{{sensor_name}}_{{metric_name}}, lat, lng);
				}
			});
		} catch (err){
            console.log(err)
        }
</script>

{% endmacro %}