{% macro time_series_chart(object, socket_namespace, title, sensor_name, metric_name) %}

<div class="mx-3 my-3">
    <div class="text-center justify-content-center">
        <h5>{{title}}</h5>
        <p class="mb-0">{{metric_name}}</p>

        <div class="row justify-content-center">
            <div id="{{sensor_name}}_{{metric_name}}_chart"></div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function(){

        try{

            var data_{{object.id}}_{{metric_name}}_{{sensor_name}} = [
              {
                x: {{(object|attr(sensor_name)).get_metrics_to_plot('x', metric_name)|safe}},
                y: {{(object|attr(sensor_name)).get_metrics_to_plot('y', metric_name)|safe}},
                type: 'scatter'
              }
            ];

            var d3 = Plotly.d3;

            var WIDTH_IN_PERCENT_OF_PARENT = 100;

            var gd3 = d3.select('#{{sensor_name}}_{{metric_name}}_chart')
            .style({
                width: WIDTH_IN_PERCENT_OF_PARENT + '%',

                height: '300px'
            });

            var gd_{{object.id}}_{{metric_name}}_{{sensor_name}} = gd3.node();

            var layout = {
              autosize: true,
              margin: {
                l: 40,
                r: 40,
                b: 40,
                t: 20,
                pad: 4
              },
            };

            Plotly.newPlot(gd_{{object.id}}_{{metric_name}}_{{sensor_name}},
                           data_{{object.id}}_{{metric_name}}_{{sensor_name}}, layout, {displayModeBar: false});


            function update_chart(chart, data, new_value, limit){

                data[0].x.unshift(new_value[0]);
                data[0].y.unshift(new_value[1]);

                if(data[0].x.length > limit){
                    data[0].x.pop()
                    data[0].y.pop()
                }

                Plotly.update(chart,data, layout);
            }

            var socket_{{object.id}}_{{sensor_name}};

            SOCKET_NAMESPACE = '/{{socket_namespace}}'

            socket_{{object.id}}_{{sensor_name}} = io.connect(location.protocol + '//' + document.domain + ':' + location.port + SOCKET_NAMESPACE);
            socket_{{object.id}}_{{sensor_name}}.on('connected', function(data) {
                console.log(data);
            });

            socket_{{object.id}}_{{sensor_name}}.on('{{socket_namespace}}', function(data) {
                if(typeof data.data != 'undefined' && data.data.key == "{{object.key}}"){
                    //console.log(data.data.{{sensor_name}}.{{metric_name}});
                    update_chart(gd_{{object.id}}_{{metric_name}}_{{sensor_name}},
                           data_{{object.id}}_{{metric_name}}_{{sensor_name}},
                           [new Date().toISOString(), data.data.{{sensor_name}}.{{metric_name}}],
                           30)
                }
            });
        } catch (err){
            console.log(err)
        }

    });
</script>


{% endmacro %}