.primary-color{
    background-color: #009688 !important;
}

.secondary-color{
    background-color: #ef6c00 !important;
}

.btn-outline-white {
  border: 2px solid #FFFFFF;
  color: #FFFFFF !important;
  background-color: transparent; }
  .btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active, .btn-outline-white:active:focus, .btn-outline-white.active {
    background-color: transparent;
    color: #FFFFFF;
    border-color: #FFFFFF; }

.hm-primary-color-strong {
  background-color: rgba(36, 116, 191, 0.9) !important; }

.btn.btn-sm, .btn.wishlist {
    font-size: 0.7rem !important;  }

.btn-outline-primary {
  border: 2px solid #009688;
  color: #009688 !important;
  background-color: transparent; }
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary:active:focus, .btn-outline-primary.active {
    background-color: transparent;
    color: #009688 !important;
    border-color: #009688 !important;
}

.btn-outline-secondary {
  border: 2px solid #ef6c00 !important;
  color: #ef6c00 !important;
  background-color: transparent; }
.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active, .btn-outline-secondary:active:focus, .btn-outline-secondary.active {
    background-color: transparent;
    color: #ef6c00 !important;
    border-color: #ef6c00 !important;
}

.dropdown-secondary-color .dropdown-item:hover{
    background-color: #ef6c00 !important;
}

.map{
    height: 500px;
    width: 100%;
}