<!DOCTYPE html>
<html lang="en">
    <head>

        {% from 'library/utils.html' import check_endpoint, navbar_textcolor %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="AutoIoT | Fraunhofer SCS">

        <title>Baby Monitor Project</title>

        {% from 'library/imports.html' import import_base_css, import_base_js %}
        {{ import_base_css() }}
        {{ import_base_js() }}

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" >

    </head>

    <body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>

    <nav class="login-navbar navbar navbar-expand-lg navbar-light white {% if request.endpoint == 'users_template.login' %} fixed-top {% endif %} ">

            <div class="container">
            <a class="navbar-brand p-0" href="#">
                {% if request.endpoint != 'users_template.login' %}
                    <img height="55rem" src="{{ url_for('static', filename='img/logo.png') }}">
                {% else %}
                    <img height="55rem" src="{{ url_for('static', filename='img/logo_white.png') }}">
                {% endif %}
            </a>

             <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="mr-auto"></div>
                <ul class="navbar-nav">
                    {% if g.user and g.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="btn align-middle btn-sm waves-effect {{ check_endpoint('base_template.home') }}" href="{{ url_for('base_template.home') }}">Home</a>
                    </li>
                    {% endif %}

                    {% if request.endpoint != 'users_template.login' and (g.user and not g.user.is_authenticated) %}
                    <li class="nav-item">
                        <a id="sign_in_link" class="btn align-middle btn-sm primary-color" href="{{ url_for('users_template.login') }}"><div class="white-text">Login</div></a>
                    </li>
                    {% elif request.endpoint == 'users_template.login' %}
                    <li class="nav-item">
                        <a class="btn align-middle btn-sm primary-color" data-toggle="modal" data-target="#login-modal"><div class="white-text">Login</div></a>
                    </li>
                    {% else %}
                    <li class="nav-item dropdown">
                        <a id="configurationButton" class="btn align-middle btn-sm primary-color" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User <span class="fa fa-caret-down"></span></a>
                        <div class="dropdown-menu dropdown-secondary-color dropdown-primary" aria-labelledby="configurationButton">
                            {% if g.user and g.user.is_administrator() %}
                                <a class="dropdown-item" href="{{ url_for('users_template.users') }}">Manager Users</a>
                            {% endif %}
                            <a class="dropdown-item" href="{{ url_for('users_template.logout') }}">Logout</a>
                        </div>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>

    {% if request.endpoint != 'users_template.login' %}
        <div class="primary-color" style="height: 0.8rem;">
    {% endif %}

    </div>

    {% block content %}

    {% block page %} {% endblock %}

    </body>


    <!--Footer-->
    <footer class="page-footer center-on-small-only primary-color z-depth-1 {% if request.endpoint == 'users_template.login' %} mt-0 {% endif %}">

        <div class="container">
            <!--Footer Links-->

            <div class="text-center mb-3">

            </div>

        </div>

        <!--/.Social buttons-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                Powered by<a href="https://autoiot.de"> AutoIoT</a>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->

    <script>
        $(document).ready(function () {
           $(".dropdown").hover(
            function() {
                $('.dropdown-menu', this).stop( true, true ).fadeIn("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).fadeOut("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");
		    });

           // Tooltips Initialization

            $('[data-toggle="tooltip"]').tooltip();

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    console.log('{{ category }}');
                    iziToast.show({
                        title: '',
                        timeout: 8000,
                        message: '{{ message }}',
                        messageColor: '#FFFFFF',
                        theme: 'dark',
                        titleSize: '1rem',
                        messageSize: '1.1rem',
                        {% if category == 'warning' %}
                        icon: 'fa fa-exclamation-triangle',
                        color: '#FF8800'
                        {% elif category == 'danger' %}
                        icon: 'fa fa-times',
                        color: '#ff4444'
                        {% elif category == 'success' %}
                        icon: 'fa fa-check',
                        color: '#007E33'
                        {% else %}
                        icon: '',
                        color: '#0099CC'
                        {% endif %}
                    });
                  {% endfor %}
                {% endif %}
            {% endwith %}

        });


    </script>

    {% endblock %}

</html>