{% extends 'base.html' %}
{% block page %}


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div class="container">

    <div class="card mt-4">
        <div class="justify-content-center text-center mt-4">
            <h1 class="mb-5">Dashboard Container</h1>
        </div>

        <div class="row mx-2" id="card-container">
                <div class="col-card col-md-6 mb-3">
                    <div class="card">
                        {% from 'components/card_info.html' import card_info %}
                        {{card_info( object = container , list_of_attrs = list_of_attrs , list_of_sensors = list_of_sensors )}}
                    </div>
                </div>
                <div class="col-card col-md-6 mb-3">
                    <div class="card">
                        {% from 'components/time_series_chart.html' import time_series_chart %}
                        {{time_series_chart( object = container , socket_namespace = 'data_container' , title = 'MainSensor' , sensor_name = 'main_sensor_sensor' , metric_name = 'temperature' )}}
                    </div>
                </div>
                <div class="col-card col-md-6 mb-3">
                    <div class="card">
                        {% from 'components/point_on_map.html' import point_on_map %}
                        {{point_on_map( object = container , socket_namespace = 'data_container' , title = 'MainSensor' , sensor_name = 'main_sensor_sensor' , metric_name = 'position' )}}
                    </div>
                </div>
                <div class="col-card col-md-6 mb-3">
                    <div class="card">
                        {% from 'components/time_series_chart.html' import time_series_chart %}
                        {{time_series_chart( object = container , socket_namespace = 'data_container' , title = 'MainSensor' , sensor_name = 'main_sensor_sensor' , metric_name = 'filing_status' )}}
                    </div>
                </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function(){
        $('#card-container').masonry({
          // options
          itemSelector: '.col-card'
        });
    });

</script>

{% endblock %}